@import '../../styles/variables.scss';

.hidden {
  visibility: hidden;
}

#mobile-nav {
  position: fixed;
  text-align: center;
  bottom: 2rem;
  right: 5%;
  color: white;

  .burger-icon {
    padding: 0.5rem;
    border-radius: 5px;
    background: $nav-background;
    color: $main-text-color;
    box-shadow: 0px 0px 10px $transparent-dark;

    &:hover {
      color: $background-color-dark;
      cursor: pointer;
    }

    &:active {
      color: $background-color-dark;
      background-color: $background-color-light;
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
  }
}

#mobile-nav-menu {
  display: grid;
  font-size: 1.2rem;
  position: absolute;
  right: 0rem;
  bottom: 3rem;
  background: $nav-background;
  border-radius: 5px;



  a, span {
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    color: $background-color-dark;

    text-decoration: none;

    &:hover {
      color: $background-color-dark;
      background-color: $transparent-dim;
      cursor: pointer;
      transition: $main-transition;
    }

    &:active {
      color: $background-color-dark;
      background-color: $transparent-light;
      cursor: pointer;
    }
  }
}

#back-to-top {
  text-transform: none;

}
