@import '../../styles/variables.scss';

.hidden {
  visibility: hidden;
}

#side-nav {
  display: grid;
  font-size: 1.2rem;
  background-color: $background-color-dim;
  border-radius: 5px;


  a {
    // font-weight: 600;
    // padding: 10px 20px;
    // border-radius: 5px;
    // color: $terciary-text-color;
    // transition: $main-transition;
    // text-decoration: none;

    &:hover {
      color: $main-text-color;
      background-color: $secondary-text-color;
      cursor: pointer;
    }

    &:active {
      color: $background-color-dark;
      background-color: $background-color-light;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  #side-nav {
    position: absolute;
    top: 3.5rem;
    right: 0rem;
  }
}

@media (min-width: 900px) {
  #side-nav {
    display: none;
  }
}
