@import './variables.scss';

* {
  font-family: 'Roboto Mono', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-touch-callout: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color-dark;
}
