$main-text-color: rgb(250, 250, 250);
$secondary-text-color: rgb(75, 75, 75);
$terciary-text-color: rgb(125, 125, 125);
$main-color: rgb(44, 177, 141);
$secondary-color: rgb(15, 103, 79);
$background-color-dark: rgb(31, 31, 31);
$background-color-dim: rgb(50, 50, 50);
$background-color-light: rgb(255, 255, 255);
$main-transition: all 0.07s ease-in-out;
