$main-text-color: rgb(30, 30, 30);
$main-text-color-light: rgb(250, 250, 250);
$secondary-text-color: rgb(125, 125, 125);
$terciary-text-color: rgb(221, 221, 221);
$main-color: rgb(245, 245, 245);
$main-color-hover: rgb(255, 255, 255);
$main-accent-color: #e94057;
$main-accent-color-hover: #c32b40;
$secondary-accent-color: #ff6a00;
$main-gradient: linear-gradient(to right, #c32b40, #e94057, #f27121);
$main-gradient-light: linear-gradient(to right, #a72b3c, #ff1d3e, #ff8940);
$secondary-gradient: linear-gradient(to right, #ee0979, #ff6a00);
$nav-background: linear-gradient(to right, #e05c6e, #f27121);
$transparent-dark: rgba(0, 0, 0, 0.5);
$transparent-dim: rgba(0, 0, 0, 0.25);
$transparent-light: rgba(255, 255, 255, 0.5);
$background-color-dark: rgb(31, 31, 31);
$background-color-dim: rgb(50, 50, 50);
$background-color-light: rgb(240, 240, 240);
$background-color-lightest: rgb(255, 255, 255);
$main-transition: all 0.05s ease-in-out;
