@import '../../styles/variables.scss';

#skills-section {
  padding: 5% 15%;
  color: white;
  // height: 2000px;

  hr {
    background: $main-gradient-light;
    border: none;
    border-radius: 0.5rem;
    height: 5px;
  }

  .section-title {
    display: inline-block;
    color: white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

.skill-card-container {
  margin-top: 2rem;

  .skill-icons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;

    ion-icon {
      transition: all 0.15s ease-in-out;
      padding: 2rem;
      font-size: 72px;
      width: auto;
      color: black;
      background-color: transparent;
      border-radius: 0.5rem;

      &:hover {
        background-color: $transparent-dark;
        color: white;
      }
    }
  }


}

.skill-card {
  background: $main-gradient;
  color: $main-text-color-light;
  padding: 2rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1500px) {
  #skills-section {
    padding: 5%;
    .skill-card-container {
      .skill-icons {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #skills-section {
    padding: 5%;
    .skill-card-container {
      .skill-card {
        padding: 1rem;
      }
      .skill-icons {
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

}
