@import '../../styles/variables.scss';

#skills-section {
  padding: 5% 0%;
  // height: 2000px;

  h1 {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

.skill-card-container {
  margin-top: 2rem;
}

.skill-card {
  // background-color: $background-color-dim;
  background: $main-gradient;
  padding: 2rem;
  border-radius: 0.5rem;
}
