@import '../../styles/variables.scss';

header {
  text-align: left;
  padding: 10% 15%;
  // -webkit-user-select: none; /* Safari */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* IE10+/Edge */
  // user-select: none; /* Standard */

  h1 {
    font-weight: 700;
    font-size: 5rem;
    // color: $main-text-color;
    background: $secondary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-weight: 500;
    font-size: 2rem;
    color: $main-text-color-light;
  }

  .header-links {
    margin-top: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: 0;
    transition: $main-transition;

    .resume-button {
      background-color: $main-accent-color;
      // color: $background-color-dark;
      display: flex;
      align-items: center;
      text-align: center;
      border: none;
      border-radius: 2rem;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      transition: $main-transition;

      #resume-button-icon {
        margin-left: 0.2rem;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        color: $main-text-color-light;
        background-color: $main-accent-color-hover;

        span {
          color: $main-text-color-light;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    padding: 10% 5%;
    h1 {
      font-size: 2.2rem;
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
