@import '../../styles/variables.scss';

header {
  text-align: left;
  padding: 10% 15%;
  height: 100vh;
  // -webkit-user-select: none; /* Safari */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* IE10+/Edge */
  // user-select: none; /* Standard */

  h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 6rem;
    // color: $main-text-color;
    background: $main-gradient-light;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-links {
    margin-top: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 0;
    transition: $main-transition;

    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;  /* Preferred icon size */
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;

      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;

      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;

      /* Support for IE. */
      font-feature-settings: 'liga';
    }

    #github-icon {
      border-radius: 50%;
    }

    ion-icon {
      color: $main-accent-color;
      transition: $main-transition;
      border: 2px solid $main-accent-color;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px $main-accent-color;
        color: white;
        transform: translateY(-2px);
      }
    }

    .resume-button {
      background-color: transparent;
      border: 4px solid $main-accent-color;
      color: $main-accent-color;
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 2rem;
      font-size: 1rem;
      padding: 0.25rem 1rem;
      text-decoration: none;
      transition: $main-transition;

      #resume-button-icon {
        margin-left: 0.2rem;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px $main-accent-color;
        background-color: white;
        color: black;
        transform: translateY(-2px);
      }

      &:active {
        color: $main-text-color-light;
        background-color: black;
        box-shadow: 0 0 10px white;

        span {
          color: $main-text-color-light;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    padding: 10% 5%;
    height: 40vh;
    h1 {
      font-size: 2rem;
      padding: 0;
    }
  }
}
