@import '../../styles/variables.scss';

#nav {
  position: relative;
  // width: 80%;
  display: grid;
  // display: flex;
  // justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  // background-color: $background-color-dim;
  background: $main-gradient;
  text-align: center;
  font-size: 1rem;
  margin: 0 15%;
  margin-top: 2rem;
  padding: 0.5rem 2%;
  border-radius: 5px;
  align-items: center;
  text-transform: lowercase;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */


  h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  a {
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    // color: $terciary-text-color;
    color: $background-color-dark;
    transition: $main-transition;
    text-decoration: none;
    &:hover {
      color: $main-text-color;
      background-color: $transparent-dark;
      // background-color: $secondary-text-color;
      cursor: pointer;
    }

    &:active {
      color: $background-color-dark;
      background-color: $transparent-light;

      // background-color: $background-color-light;
      cursor: pointer;
    }
  }

  .burger-icon {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: $main-text-color;
    cursor: pointer;

    &:hover {
      color: $background-color-dark;
      background-color: $transparent-light;
      cursor: pointer;
    }

    &:active {
      color: $main-text-color;
      background-color: $transparent-dark;
      cursor: pointer;
    }
  }

}

@media (max-width: 900px) {
    #nav {
      margin: 1rem;

      #logo {
        padding: 0.5rem 1rem;
      }

      a {
        transition: none;
      }

      .nav-links {
        display: none;
      }

      .burger-icon {
        // display: visible;
        position: absolute;
        right: 5%;
      }
    }

}

@media (min-width: 900px) {
  .burger-icon {
    display: none;
  }
}

// #nav {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 2rem;
// }
