@import '../../styles/variables.scss';

nav {
  // position: fixed;
  // width: 80%;
  display: grid;
  // display: flex;
  // justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  background-color: $background-color-dim;
  text-align: center;
  font-size: 1rem;
  margin: 0 15%;
  margin-top: 2rem;
  padding: 0.5rem 2%;
  border-radius: 5px;
  align-items: center;
  text-transform: lowercase;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */


  h1 {
    text-transform: uppercase;
    // &:hover {
    //   color: $background-color-dark;
    //   background-color: $background-color-light;
    //   cursor: pointer;
    // }
  }

  a {
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    color: $terciary-text-color;
    transition: $main-transition;
    text-decoration: none;
    &:hover {
      color: $main-text-color;
      background-color: $secondary-text-color;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
    nav {
      margin: 0 5%;
      margin-top: 1rem;
      // width: 100%;
    }
}
