@import '../../styles/variables.scss';

#work-section {
  padding: 5% 15%;
  color: white;
  h1 {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background: $main-gradient-light;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.project-card-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  border-radius: 0.5rem;
  background: $main-gradient;

  .project-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .project-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
  }

  .project-card {
    // background: $main-gradient;
    color: black;
    -webkit-background-clip: content-box;
    // -webkit-text-fill-color: transparent;
    box-shadow: 0 0 25px $transparent-dim;
    padding: 2rem;
    border-radius: 0.5rem;
    transition: $main-transition;

    .project-card-button {
      background-color: $transparent-dark;
      // width: 10rem;
      text-decoration: none;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      padding: 0.75rem 2rem;
      transition: $main-transition;

      a {
        text-decoration: none;
        color: white;
      }

      &:hover {
        cursor: pointer;
        background-color: $transparent-light;
        color: black;

        a {
          color: black;
        }
      }

      &:active {
        background-color: $transparent-light;
      }
    }

    .tech-tag-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-radius: 0.5rem;
      grid-gap: 0.5rem;

      .tech-tag {
        text-align: center;
        background-color: $transparent-dark;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: $main-transition;

        &:hover {
          background-color: white;
          color: black;
          user-select: none;

          a {
            color: $main-text-color-light;
          }
        }
      }
    }
  }

  .project-image-container {
    border: 5px solid black;
    margin: 1rem 0;
    width: 300px;
    height: 175px;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .project-image {
    transition: $main-transition;
    transform: scale(1.05);
    width: 100%;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1500px) {
  #work-section {
    padding: 5% 5%;

  }
}

@media screen and (max-width: 1200px) {
  #work-section {
    .project-card {
      padding: 2rem 1rem;
    }
    .project-header {
      grid-template-columns: 1fr;
    }
    .tech-tag-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

}

@media screen and (max-width: 1000px) {

  #work-section {
    .project-card-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .tech-tag-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media screen and (max-width: 900px) {
  #work-section {
    padding: 5%;
    .project-image-container {
      margin: 1rem 0;
      width: 350px;
      height: 200px;
    }
    .project-card-container {
      grid-template-columns: 1fr;
    }
    .project-card {
      width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  #work-section {
    .project-image-container {
      width: 250px;
      height: 125px;
    }
  }
}
